@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?y7rmro');
  src:  url('fonts/icomoon.eot?y7rmro#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?y7rmro') format('truetype'),
    url('fonts/icomoon.woff?y7rmro') format('woff'),
    url('fonts/icomoon.svg?y7rmro#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.dec:before{
  content: '20';
  font-family: 'icomoon' ;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-exit:before {
  content: "\20";
}
