<html lang="en" class=" js no-mobile desktop no-ie chrome chrome70 cas-section gradient rgba opacity textshadow multiplebgs boxshadow borderimage borderradius cssreflections csstransforms csstransitions no-touch no-retina fontface domloaded w-902 gt-240 gt-320 gt-480 gt-640 gt-768 gt-800 lt-1024 lt-1280 lt-1440 lt-1680 lt-1920 no-portrait landscape" id="login-page"><head>
        <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
          <title>CAS – Central Authentication Service</title>
          <link rel="stylesheet" href="{%static 'css/cas.css' %}">
          <link rel="icon" type="image/jpeg" sizes="32x32" href="{%static '/img/cw.jpeg' %}">

          <script type="text/javascript" src="{%static '/vendor/jquery/jquery.cas.min.js' %}"></script><script type="text/javascript" src="{%static '/vendor/jquery/jquery-ui.min.js' %}"></script><script type="text/javascript" src="{%static 'vendor/jquery/jquery.cookie.min.js' %}"></script><script type="text/javascript" src="{%static '/vendor/jquery/ba-debug.min.js' %}"></script>
      </head>
      <body id="cas" >
        <div id="container">
            <header>
                <a href="http://www.centralesupelec.fr" title="allez à la page d'accueil CentraleSupélec"><img src="{%static '/img/cs.png' %}" ></a>
                <img src="{%static '/img/cas-logo.png' %}" style=" margin-left: 30%  " >
                <h1>Central Authentication Service (CAS)</h1>
            </header>
            <div id="content">
      <div id="cookiesDisabled" class="errors" style="display:none;">
          <h2>Cookies navigateur désactivés</h2>
          <p>Votre navigateur ne supporte pas les cookies. L'authentification centralisée NE FONCTIONNERA PAS.</p>
      </div>
          <div id="serviceui" class="serviceinfo">
              <table>
                  <tbody><tr>
                      <td><img src="{%static '/img/webapp.png' %}"></td>
                      <td id="servicedesc">
                          <h1>Authentification sur centralesupelec.fr</h1>
                          <p></p>
                      </td>
                  </tr>
              </tbody></table>
          </div>
        <div class="box" id="login">
          <form id="fm1" action="/accueil/" >
              <br><h2>Entrez votre identifiant et votre mot de passe.</h2>
              <section class="row">
                  <label for="username"><span class="accesskey">I</span>dentifiant (adresse e-mail CS):</label>                          
                          <input id="username" name="username" class="required" tabindex="1" accesskey="i" type="text" value="" size="50" autocomplete="off" required>
              </section>
              <section class="row">
                  <label for="password"><span class="accesskey">M</span>ot de passe:</label>
                  <input id="password" name="password" class="required" tabindex="2" accesskey="m" type="password" value="" size="50" autocomplete="off" required>
                  <span id="capslock-on" style="display:none;"><p><img src="{%static '/img/warning.png' %}" valign="top"> la touche Verr Maj est activée !</p></span>
              </section>
              <section class="row btn-row">
                  <input class="btn-submit" name="submit" accesskey="l" value="SE CONNECTER" tabindex="6" type="submit">
                  <input class="btn-reset" name="reset" accesskey="c" value="EFFACER" tabindex="7" type="reset">
              </section>
          <div>
      </div></form>
          <br>
          <a href="https://moncompte.centralesupelec.fr/resetpass">Mot de passe perdu / Password lost ?</a>
      </div>

      <div id="sidebar">
          <div class="sidebar-content">
              <br><p>Pour des raisons de sécurité, veuillez vous déconnecter et fermer votre navigateur lorsque vous avez fini d'accéder aux services authentifiés.</p>
              <div id="list-languages">
                  <h3>Languages:</h3>
                          <ul>
                              <li class="first"><a href="login?service=https%3A%2F%2Fmoncompte.centralesupelec.fr%2F&amp;locale=en">English</a></li>
                              <li><a href="login?service=https%3A%2F%2Fmoncompte.centralesupelec.fr%2F&amp;locale=es">Spanish</a></li>
                              <li><a href="login?service=https%3A%2F%2Fmoncompte.centralesupelec.fr%2F&amp;locale=fr">French</a></li>
                              <li><a href="login?service=https%3A%2F%2Fmoncompte.centralesupelec.fr%2F&amp;locale=ru">Russian</a></li>
                              <li><a href="login?service=https%3A%2F%2Fmoncompte.centralesupelec.fr%2F&amp;locale=it">Italiano</a></li>
                              <li><a href="login?service=https%3A%2F%2Fmoncompte.centralesupelec.fr%2F&amp;locale=ur">Urdu</a></li>
                              <li><a href="login?service=https%3A%2F%2Fmoncompte.centralesupelec.fr%2F&amp;locale=zh_CN">Chinese (Simplified)</a></li>
                              <li><a href="login?service=https%3A%2F%2Fmoncompte.centralesupelec.fr%2F&amp;locale=zh_TW">Chinese (Traditional)</a></li>
                              <li><a href="login?service=https%3A%2F%2Fmoncompte.centralesupelec.fr%2F&amp;locale=de">Deutsch</a></li>
                              <li><a href="login?service=https%3A%2F%2Fmoncompte.centralesupelec.fr%2F&amp;locale=ja">Japanese</a></li>
                              <li><a href="login?service=https%3A%2F%2Fmoncompte.centralesupelec.fr%2F&amp;locale=fa">Farsi</a></li>
                              <li><a href="login?service=https%3A%2F%2Fmoncompte.centralesupelec.fr%2F&amp;locale=ar">Arabic</a></li>
                              <li><a href="login?service=https%3A%2F%2Fmoncompte.centralesupelec.fr%2F&amp;locale=pt_PT">Portuguese</a></li>
                              <li><a href="login?service=https%3A%2F%2Fmoncompte.centralesupelec.fr%2F&amp;locale=pt_BR">Portuguese (Brazil)</a></li>
                              <li class="last"><a href="login?service=https%3A%2F%2Fmoncompte.centralesupelec.fr%2F&amp;locale=pl">Polish</a></li>
                          </ul>              
              </div>
          </div>
      </div>  
    </div> <!-- END #content -->
      
      <footer>
          <div id="copyright">
              <p></p>
              <p>Powered by <a href="http://www.apereo.org/cas">Apereo Central Authentication Service 4.1.7</a></p>
          </div>
      </footer>
      
      

      </div> <!-- END #container -->
      <script src="{%static '/vendor/jquery/head.min.js' %}"></script>
      
      <script type="text/javascript" src="{%static '/vendor/jquery/cas.js' %}"></script>
      
      
      
      
      </body></html>