<!DOCTYPE html>
<html lang="en">

  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="32x32" href="{%static '/img/favicon.png' %}">
    <title>Business Casual - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="{%static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{%static 'css/business-casual.min.css' %}" rel="stylesheet">

  </head>

  <body>
      <div class="menu2">
          <table>
            <tr>
              <td>
                  <nav class="navbar navbar-expand-lg navbar-dark py-lg-4">
                      <div class="container">
                        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarResponsive">
                          <ul class="navbar-nav mx-auto">
                            <li class="nav-item px-lg-4">
                              <a class="nav-link text-uppercase text-expanded" href="/page principale">page principale
                                <span class="sr-only">(current)</span>
                              </a>
                            </li>
                            <li class="nav-item active px-lg-4">
                                <a class="nav-link text-uppercase text-expanded" href="/tuto">Tuto
                                  <span class="sr-only">(current)</span>
                                </a>
                              </li>
                              <li class="nav-item px-lg-4">
                                  <a class="nav-link text-uppercase text-expanded" href="">EDT
                                    <span class="sr-only">(current)</span>
                                  </a>
                                </li>
                                  <li class="nav-item px-lg-4">
                                      <a class="nav-link text-uppercase text-expanded" href="">années précédentes
                                        <span class="sr-only">(current)</span>
                                      </a>
                                    </li>
                                    <li class="nav-item px-lg-4">
                                        <a class="nav-link text-uppercase text-expanded" href="">file d'attente
                                          <span class="sr-only">(current)</span>
                                        </a>
                                      </li>
                                        <li class="nav-item px-lg-4">
                              <a class="nav-link text-uppercase text-expanded" href="">faq
                                <span class="sr-only">(current)</span>
                              </a>
                            </li>
                            <li class="nav-item px-lg-4">
                              <a class="nav-link text-uppercase text-expanded" href="">Mon projet</a>
                            </li>
                            <li class="nav-item px-lg-4">
                              <a class="nav-link text-uppercase text-expanded" href="https://tinyurl.com/y7rmqogy" target="_blank">slack</a>
                            </li>
                            <li class="nav-item px-lg-4">
                              <a class="nav-link text-uppercase text-expanded" href="https://gitlab-student.centralesupelec.fr/" target="_blank">gitlab</a>
                            </li>
                            <li class="nav-item px-lg-4">
                                <a class="nav-link text-uppercase text-expanded" href="http://mycs.centralesupelec.fr/fr" target="_blank">mycs
                              
                                </a>
                              </li>
                            <li class="nav-item px-lg-4">                     
                              <a class="nav-link text-uppercase text-expanded" href="http://mycs.centralesupelec.fr/fr"><p>Déconnexion</p>
                                  <span class="sr-only">(current)</span>
                                </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </nav>            
              </td>
            </tr>
          </table>
        </div>
                
   <br/><br/><h1 class="site-heading text-center text-white d-none d-lg-block">
      <span style ="color: #660033;">CENTRALESUPELEC</span></span><br/>
      <span style ="color:black;" class="site-heading-lower"><strong>coding weeks</strong></span>
    </h1>

    <!-- <form id="recherche" method="post">
 
        <input name="saisie" type="text" placeholder="Mots-Clefs..." required />
        <input class="loupe" type="submit" value="" />
         
        </form> -->
        <!-- <div class="recherche_p">

            <form action="/search" id="searchthis" method="get">
            <input id="search" name="q" type="text" placeholder="Rechercher..." />
            <input id="search-btn" type="submit" value="Rechercher" />
            </form>
            
            </div> -->

            <form enctype="multipart/form-data" method = 'post' action="/accueil/creation_tuto/">
                {% csrf_token %}
                {{form}}
                <button type="submit" ><p style="color :black ;">Envoyer<img src="{%static '/img/loupe.jpg' %}" alt="" style = "width : 23px; height: 23px; justify-content: center; align-items: right; margin-left: 10px; "/></p><i class="fa fa-search"></i></button>
             </form>
    
    




    <!--nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
        <div class="container">
          <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
          <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item active px-lg-4">
                 <a class="nav-link text-uppercase text-expanded" href="http://mycs.centralesupelec.fr/fr/contact" target='_blank'>contact
                  <span class="sr-only">(current)</span>
                </a>
              </li>
        </nav-->
  

    <!--footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0 small">Copyright &copy; Your Website 2018</p>
      </div>
    </footer-->

    <!-- Bootstrap core JavaScript -->
    <script src="{%static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  </body>

</html>
