<html lang="en">

  <head>
      {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="32x32" href="{%static '/img/favicon.png' %}">
    <title>coding weeks cs</title>
   
    <!-- Bootstrap core CSS -->
    <link href="{%static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{%static 'css/business-casual.min.css' %}" rel="stylesheet">

  </head>

  <body>
      
      <div class="menu1">
          <table><tr><td>  
              
              <a href='http://mycs.centralesupelec.fr/fr'><button class="boutondeconnexion" ><p style="color :black ;">Déconnexion<img src="{%static '/img/deconnexion.jpg' %}" alt="" style = "width : 23px; height: 23px; justify-content: center; align-items: right; margin-left: 10px; "/></p></button></a>

            

          </td></tr>
        </table></div>
      

    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span style ="color: #660033;">CENTRALESUPELEC</span></span><br/>
      <span class="site-heading-lower"><strong>coding weeks</strong></span>
    </h1>

    <form method = "POST" action="/accueil/">
        {% csrf_token %}
        {{form}}
        <input type = 'submit' value = 'Envoyer'>
    </form>




    


              
    <div id="bloc_en_bas">
       <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
        <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active px-lg-4">
               <a class="nav-link text-uppercase text-expanded" href="http://mycs.centralesupelec.fr/fr/contact" target='_blank'>contact
                <span class="sr-only">(current)</span>
              </a>
            </li>
      </nav>
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="{%static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  </body>

</html>
